html, body {
    margin: 0;
    height: 100%;
}

body{
	background-image: url("../public/mahantswami.jpg") ; 
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.App{
	text-align: center;
	font-size:35px;
	margin-top: 20%;
	color: white;
}

.App-title{
	font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
	display: inline;
	margin: 10px;
}

.Deadline-input{
	font-size: 25px;
	margin: 5px;
}
